#urgentes {
  background-image: url('img/gatitotristi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid red;
}

#naoUrgentes {
  background-image: url('img/gatitofiliz.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid rgb(156, 238, 24);
}

body {
  background-color: #f0f4f8;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(238, 184, 184);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea {
  width: 97%;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  resize: none;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #b14bcf;
  color: white;
}

button:hover {
  background-color: #e11ff3;
}

.columns {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}

.note-box {
  min-height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: 200px;
}

.note {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background: transparent;
}

select {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
